* {
  box-sizing: border-box;
}
body {
  background-color: #e9e9e9;
}

.flex-container {
  min-height: 800px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  background-color: paleturquoise;
  /* justify-content: space-between; */
  margin-bottom: 50px;
  /* align-items: center; */
  /* justify-content: flex-start; */
  /* flex-direction: column; */
}
.item-4 {
  /* align-self: stretch; */
}

.flex-item {
  /* width: 50px; */
  flex-basis: 22%;
  flex-grow: 1;
  height: 100px;
  background-color: palegoldenrod;
  border: 1px solid palevioletred;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
}
.item-1 {
  /* flex-basis: 100%; */
}

.half {
  width: 47%;
  flex-grow: 1;
}

/* item-aside uzima 170px */
/* item-main uzima likusia vieta */
/* item-aside nemazeja mazinant puslapi */
.item-aside {
  flex-basis: 170px;
  /* width: 24%; */
  flex-grow: 0;
  flex-shrink: 0;
}
